<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cb.oneclipboard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="ClipboardApplication" >
        <activity
            android:name="com.cb.oneclipboard.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cb.oneclipboard.HomePageActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="OneClipboardService"
            android:enabled="true"
            android:icon="@drawable/logo"
            android:label="OneClipboardService"
            android:logo="@drawable/logo"
            android:permission="android.permission.INTERNET"
            android:stopWithTask="false" >
        </service>
        
        <receiver android:name="com.cb.oneclipboard.ConnectionChangeReceiver"
          android:label="NetworkConnection">
		  <intent-filter>
		    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
		  </intent-filter>
		</receiver>
		
    </application>

</manifest>