**/bin
**/gen
**/.settings
**/.classpath
**/.project
**/*.log
**/*.err
**/*.lck
**/build
oneclipboarddesktop/Output/
.gradle
local.properties
gradle-local.properties
.idea
*.iml
client.private
client.public
server.private
server.public
*.jks
*.apk

